<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="text" id="usermail" /><br><br>
    <button type="button" id="btn">mail</button>

  </body>
</html>
<script>
$(document).ready(function() {
    $('#btn').click(function () {
      var data={
      	'usermail' : $("#usermail").val()
      	
                    };
      console.log(data);
      	$.ajax({
        type:"POST",
        url:"/mymail",
        data :  data, 
        //dataType: 'json',  // multiple data sent using ajax
        success: function (result) {
           alert(result);
          
        }
        });
    });
});
</script>

